@font-face{
    font-family:neutrabold;
    src: url(../font/Neutraface2Text-Bold.otf);}
@font-face{
    font-family:neutralight;
    src: url(../font/Neutraface2Text-Light.otf);}
@font-face{
    font-family:neutrabook;
    src: url(../font/Neutraface2Text-Book.otf);}
@font-face{
    font-family:neutramed;
    src: url(../font/Neutraface2Text-Demi.otf);} 